/* change background color */
body {
    background-color: #A2B0B8;
}

h1  {
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: rgb(131, 121, 121) 2px 2px;
}

.btn {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.table {
    border: 3px solid white;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    box-shadow: rgb(131, 121, 121) 2px 2px;
}

.btn-sm {
    width: 60px;
}

#price {
    width: 100px;
    text-align: left;
    font-size: 12px;
}

#item {
    width: 180px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

#grandTotal {
    background-color: rgb(243, 162, 85);
    width: 90px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #929090;
    margin-right: 10px;
}